.containter {
  margin: 0 auto;
  width: 900px;
}
.containter h1 {
  color: white;
}

.containter p {
  color: rgba(255, 255, 255, 0.685);
  font-size:large;
  margin-bottom: 35px;
}

.info-containter {
  height: 380px;
  margin: 0 auto;
  width: 900px;
  text-align: center;
}
